<section class="footer pt-20 pb-10 bg-primary dark:bg-graay relative overflow-hidden">
    <span class="w-[261px] h-[261px] absolute -top-20 -left-30 bg-[#9bfe4f80]  rounded-full blur-3xl"></span>
    <span class="w-[261px] h-[261px] absolute -bottom-20 -right-30 bg-[#686177]  rounded-full blur-3xl"></span>
    <div class="container pt-8 flex flex-col md:flex-row  gap-y-5 md:gap-y-0 items-center md:items-start justify-between">
        <!-- col-1  -->
        <div class="col1 w-full md:w-[30%] flex flex-col items-center md:items-start text-center md:text-left">
            <div class="image border border-border bg-light-gray p-2 rounded-3xl w-fit" data-aos="fade-up" >
                <img src="/src/assets/images/home/logo-main.png" alt="">
            </div>
            <h4 class="text-lightprimary dark:text-primary text-base leading-7 font-normal mt-6" data-aos="fade-up" >Agenko creative digital agency delivering innovate web Development marketing.</h4>
            <div class="subscribe-form mt-10" data-aos="fade-up">
            <form action="" class="flex justify-between  items-center flex-nowrap bg-graay dark:bg-primary rounded-3xl px-1 py-1">
                <i class="ri-mail-line ps-3 text-primary dark:text-graay"></i>
                <input type="text" placeholder="Email Address" class="w-[60%] bg-primary dark:bg-transparent border border-border py-1 px-6 rounded-2xl  text-xl text-graay font-normal placeholder:text-graay">
                
                <input type="submit" value="subscribe" class="btn text-secondary bg-accent  h-fit w-fit px-2.5 py-1 text-xl capitalize font-medium rounded-3xl">
            </form>
        </div>
        </div>
        <!-- col-2 -->
        <div class="col2  flex flex-col gap-1.5  items-center md:items-start text-center md:text-left" >
            <h3 class="text-lightprimary dark:text-primary text-2xl leading-9 font-bold" data-aos="fade-up">Main Address</h3>
            <p class="text-lightprimary dark:text-primary text-base leading-7 font-normal mt-6" data-aos="fade-up">6801 Hollywood Blvd, Los Angeles, CA 90028</p>
            <h3 class="text-lightprimary dark:text-primary text-2xl leading-9 font-bold" data-aos="fade-up">Sub-Address</h3>
            <p class="text-lightprimary dark:text-primary text-base leading-7 font-normal mt-6" data-aos="fade-up">200 Santa Monica Pier, Santa Monica, CA 90401</p>
        </div>
        <!-- col-3 -->
        <div class="col3  flex flex-col gap-1.5  items-center md:items-start text-center md:text-left">
            <h3 class="text-lightprimary dark:text-primary text-2xl leading-9 font-bold capitalize" data-aos="fade-up">our link</h3>
            <ul class="flex flex-col gap-1.5 mt-3">
                <li><a href="/src/pages/about.html" class="text-lightprimary dark:text-primary text-base leading-7 font-normal mt-6 hover:text-accent transition-all duration-200" data-aos="fade-up">About us</a></li>
                <li><a href="/src/pages/services.html" class="text-lightprimary dark:text-primary text-base leading-7 font-normal mt-6 hover:text-accent transition-all duration-200" data-aos="fade-up">Services</a></li>
                <li><a href="/src/pages/project.html" class="text-lightprimary dark:text-primary text-base leading-7 font-normal mt-6 hover:text-accent transition-all duration-200" data-aos="fade-up">Our Project</a></li>
                <li><a href="#" class="text-lightprimary dark:text-primary text-base leading-7 font-normal mt-6 hover:text-accent transition-all duration-200" data-aos="fade-up">FAQ</a></li>
                <li><a href="/src/pages/contact.html" class="text-lightprimary dark:text-primary text-base leading-7 font-normal mt-6 hover:text-accent transition-all duration-200" data-aos="fade-up">Contact us</a></li>
                
            </ul>
        </div>

        <!-- co1-4  -->
         <div class="col4 flex flex-col items-center md:items-start text-center md:text-left">
            <h3 class="text-lightprimary dark:text-primary text-2xl leading-9 font-bold capitalize" data-aos="fade-up">contact</h3>
            <div class="info flex items-center mt-3 gap-2" data-aos="fade-up">
                <div class="left " >
                    <span class="h-10 w-10 rounded-full  bg-graay dark:bg-border flex justify-center items-center">
                        <i class="ri-mail-line  text-xl text-primary"></i>
                    </span>
                </div>
                <div class="right">
                    <h4 class="text-lightprimary dark:text-primary text-xl leading-9 font-bold ">Email</h4>
                    <p class="text-lightprimary dark:text-primary text-base leading-7 font-normal hover:text-accent">info@agenko.com</p>
                </div>
            </div>
            <div class="info flex items-center mt-3 gap-2" data-aos="fade-up">
                <div class="left ">
                    <span class="h-10 w-10 rounded-full bg-graay dark:bg-border flex justify-center items-center">
                        <i class="ri-phone-fill text-xl text-primary"></i>
                    </span>
                </div>
                <div class="right">
                    <h4 class="text-lightprimary dark:text-primary text-xl leading-9 font-bold ">Phone</h4>
                    <p class="text-lightprimary dark:text-primary text-base leading-7 font-normal hover:text-accent">+555-7659-9854</p>
                </div>
            </div>
        </div>
    </div>
    <span class="my-10 w-full h-[1px] bg-graay dark:bg-border block" data-aos="fade-up"></span>
    <div class="container flex items-center justify-between">
        <p class="text-lightprimary dark:text-primary text-xl leading-7 font-normal mt-6" data-aos="fade-up">© 2025 <span class="text-accent">Agenko</span> All rights reserved.</p>
        <ul class="flex items-center gap-4" data-aos="fade-up">
            <li><a href="" class="text-lightprimary dark:text-primary text-xl leading-7 font-normal hover:text-accent transition-all duration-200">Privacy Policy</a></li>
            <li><a href="" class="text-lightprimary dark:text-primary text-xl leading-7 font-normal hover:text-accent transition-all duration-200">Terms & Condition</a></li>
            <li><a href="" class="text-lightprimary dark:text-primary text-xl leading-7 font-normal hover:text-accent transition-all duration-200">Contact</a></li>
        </ul>
    </div>
</section>