<section id="hero_section" class="hero-section  pb-[100px]   md:py-[100px] bg-graay relative z-0  -mt-[90px] overflow-hidden">
    <span class="w-[979px] h-[979px] absolute -top-60 -left-20 z-[-1] border border-border rounded-full"></span>
    <span class="w-[765px] h-[765px] absolute -top-160 right-2 z-[-1] border border-border rounded-full"></span>
  <div class="container flex flex-col justify-center items-start h-full overflow-hidden">
    <div class="content w-full mt-30">
      <h1 class="text-[50px] leading-[70px] md:text-[85px] md:leading-[100px]  font-bold  text-primary hero-title"></h1>
      <div class="txt flex flex-col md:flex-row items-center justify-between w-full">
        <div class="one flex flex-col md:flex-row  md:w-[70%] items-start  md:items-center md:justify-between">
          <div class="image flex items-center gap-4">
            <img src="/src/assets/images/About Us/star1.png" class="animate-wiggle p-2" alt="">
            <p class="text-text text-base leading-6 font-normal">Agenko empowers businesses with innovative strategies<br/> & creative agency solutions</p>
          </div>
          <div class="breadcrumb mt-5 md:mt-0  flex  bg-breadcrumb py-2 px-4 gap-3 rounded-2xl border border-text w-fit h-fit" >
            <a href="/src/pages/index.html" class="text-primary capitalize">home</a>
            <span class="text-text">|</span>
            <a href="/src/pages/about.html" class="text-accent capitalize hero-crumb"></a>
          </div>
        </div>
        <div class="two flex w-full md:w-[25%] justify-start md:justify-end mt-10 md:mt-0">
          <div class="image">
            <img src="/src/assets/images/About Us/circle-shape1.png" class="animate-wiggle object-contain" alt="">
          </div>
        </div>
      </div>
    </div> 
  </div>
  </section>